{% extends 'autenticacion/plantillaFondoCompleto.html' %}
{% load static %}
{% block title %}Inventario{% endblock %}
{%block head%}
<link rel="stylesheet" href="{% static 'css/inventario.css' %}">
<script src="https://kit.fontawesome.com/4efaf993e1.js" crossorigin="anonymous"></script>
{%endblock%}

{% block content %}
<section class="containerTituloLanding">
    <div class="containerBusqueda">
        <form class="containerBusqueda" action="">
            <h3>Buscar</h3>
            <input type="text" class="barraBusqueda" name="busqueda" placeholder="ej: 2003, ladrillo, adidas.">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <h1 class="tituloLandingInventario">Inventario</h1>
</section>
<section class="containerInventario">
    <table>
        <thead>
            <tr>
                <th>Código Insumo</th>
                <th>Referencia</th>
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Ver Item</th>
            </tr>
        </thead>
        <tbody>
            {% if terminoBusqueda and mensajes != "" %}
                    </tbody>
                </table>
            </section>
            <div class="containerBtnVolver">
                <a href="{% url 'opcionesCoordinador' proyecto %}" class="btnVolver">Volver</a>
            </div>
            {% for mensaje in mensajes %}
                <br>
            <section class="containerInventario">
                <p class="alert alert-danger" role="alert"> {{ mensaje }}</p>
            </section>
            {% endfor %}
            
        {% elif terminoBusqueda and mensajes == "" %}
            {% for insumo in inventario %}
            <tr>
                <td>{{insumo.codigo}}</td>
                <td>{{insumo.referencia}}</td>
                <td>{{insumo.nombreMarca}}</td>
                <td>{{insumo.cantidad|floatformat:2}}</td>
                <td class="verItem">
                    <a href="#" class="containerCirculo">
                    <div class="circulo">
                        <i class="fas fa-chevron-right" id="flecha"></i>
                    </div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            {% for insumo in inventario %}
                <tr>
                    <td>{{insumo.codigo}}</td>
                    <td>{{insumo.referencia}}</td>
                    <td>{{insumo.nombreMarca}}</td>
                    <td>{{insumo.cantidad|floatformat:2}}</td>
                    <td class="verItem">
                        <a href="#" class="containerCirculo">
                        <div class="circulo">
                            <i class="fas fa-chevron-right" id="flecha"></i>
                        </div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
            <!-- Agrega más filas según sea necesario -->
        </tbody>
    </table>
</section>
<div class="containerBtnVolver">
    <a href="{% url 'opcionesCoordinador' proyecto %}" class="btnVolver">Volver</a>
</div>
{% endblock %}