{% extends 'autenticacion/plantillaCuadros.html' %}
{% load static %}
{% block title %}Subir Archivo{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/subirArchivo.css' %}">
<link rel="stylesheet" href="{% static 'css/styleGlobal.css' %}">
<script src="https://kit.fontawesome.com/4efaf993e1.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<section class="contenido">
    <div class="cuadroBlanco">
        <div class="containerContenido">
            {% if mensajes %}
                {% for mensaje in mensajes %}
                    <br>
                    <p class="alert alert-danger" role="alert"> {{ mensaje }}</p>
                {% endfor %}
                
            {% endif %}
            <h1 id="tituloSubirArchivo">Ingrese información mediante un archivo de Excel</h1>
            <form method="post" enctype="multipart/form-data">
                <div class="containerForm">
                    {% csrf_token %}
                    <p for="basic-url" class="instruccionLabel">1.Descargar plantilla de excel para carga de insumos y Diligenciar Excel en el formato indicado por la plantilla</p>
                    <a class="descarga" href="{% static 'Formato.xlsx' %}" download="Formato.xlsx">
                        <div class="cuadroAzul">
                            <div class="row">
                                <div class="col-9">
                                    <label for="basic-url" class="descargar-label">Para descargar la plantilla de click aqui</label>
                                </div>
                                <div class=" col-3">
                                    <div class="containerCirculo">
                                        <div class="circulo">
                                            <i class="fas fa-chevron-right" id="flecha"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <p for="basic-url" class="instruccionLabel">2.Cargar archivo en el campo a continuacion: </p>
                    <div class="input">
                        <label for="basic-url" class="form-label">Adjunte archivo</label>
                        <input type="file" name="archivo" required="true" class="form-control" accept=".xlsx" required>
                    </div>

                </div>
                <div class="botones" style="display: flex; justify-content:center">
                    <button type="submit" class="btn btn-der btn-sm" style="">Guardar</button>
                </div>
            </form>
        </div>
</section>
{% endblock %}