{% extends 'autenticacion/plantillaFondoCompleto.html' %}
{% load static %}

{% block title %} Ver item {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/crearInventario.css' %}">
<link rel="stylesheet" href="{% static 'css/verInventario.css' %}">
{% endblock %}

{% block content %}

<h1 id="tituloItem">{{item.referencia}}</h1>
<section class="contenido">
    <div class="cuadroBlanco">
        <form method="post">

            <div class="containerForm">
                {% if mensaje %}
                <p class="alert alert-success" role="alert"> {{ mensaje }}</p>
                {% endif %}
                {% csrf_token %}
                <div>
                    <div class="row">
                        <div class="col">
                            <div class="input">
                                <label for="basic-url" class="form-label">Codigo Insumo</label>
                                <p name="codigo" class="form-control">{{ item.codigo }}</p>
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Referencia</label>
                                <input type="text" name="ref" class="form-control" value="{{ item.referencia }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Unidad Base</label>
                                <input type="text" name="unidadBase" class="form-control" value="{{ item.unidad }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Cantidad</label>
                                <input type="number" name="cantidad" class="form-control" value="{{ item.cantidad }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Marca</label>
                                <input type="text" name="marca" class="form-control" value="{{ item.nombreMarca }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Tipo de insumo</label>
                                <input type="text" name="marca" class="form-control" value="{{ item.tipoInsumo }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Proyecto que genero el insumo</label>
                                <input type="text" name="marca" class="form-control"
                                    value="{{ item.proyectoAsociado.nombreProyecto }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Lugar donde se almacena</label>
                                <input type="text" name="lugarAlmacenado" class="form-control"
                                    value="{{ item.ubicacion }}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input">
                                <label for="basic-url" class="form-label">Valor Unitario</label>
                                <input type="number" name="valorU" class="form-control"
                                    value="{{ item.valorUnitario }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Iva</label>
                                <input type="text" name="valorU" class="form-control" value="{{item.impuesto}}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Valor Total</label>
                                <input type="number" name="valorU" class="form-control" value="{{valorTotal}}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Fecha Ingreso</label>
                                <p name="fechaCaducidad" class="form-control">{{ item.fechaIngreso }}</p>
                            </div>
                            {% if valor.fechaCaducidad %}
                            <div class="input">
                                <label for="basic-url" class="form-label">Fecha Caducidad</label>
                                <input type="text" name="fechaCaducidad" class="form-control"
                                    value="{{ item.fechaCaducidad }}">
                            </div>
                            {% else %}
                            <div class="input">
                                <label for="basic-url" class="form-label">Fecha Caducidad</label>
                                <input type="text" name="fechaCaducidad" class="form-control" value="NA">
                            </div>
                            {% endif %}
                            <div class="input">
                                <label for="basic-url" class="form-label">Fecha Compra</label>
                                <input type="datetime" name="fechaCaducidad" class="form-control"
                                    value="{{ item.fechaCompra }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Observaciones</label>
                                <input type="text" name="observaciones" class="form-control"
                                    value="{{ item.observaciones }}">
                            </div>
                            {% if coordinadorSolicitante != coordinadorInsumo.coordinadorVinculado_id%}
                            <div class="input">
                                <form method="post">
                                    <h6 class="mt-2">
                                        Ingrese la cantidad de insumo a solicitar:
                                    </h6>
                                    <label class="form-label">Cantidad</label><br>
                                    <div class="botones" style="display: flex; justify-content:left; ">
                                        <input type="text" name="cantidadTraspaso" class="form-control"
                                            style="border-color:#000;" oninput="limitarValor(this)"
                                            onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" required>
                                        <button type="submit" class="btn btn-der btn-sm"
                                            style="display: flex; margin-left:40px;">Solicitar</button>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                            <div class="confirmacion">
                                <div class="botones">
                                    <a class="volver" href="{% url 'inventario' item.proyectoAsociado_id %}">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    function limitarValor(input) {
        if (parseInt(input.value) > {{ item.cantidad }
    }) {
        input.value = {{ item.cantidad }
    };
        }else if (parseInt(input.value) == 0) {
        input.value = 1;
    }
    }
</script>
{% endblock %}