<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/logoRepon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styleInicio.css' %}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <section class="navInicio">
        <img src="{% static 'img/PAS-logos_white.png' %}" alt="Logo blanco PAS">
    </section>
    <div class="fondoBlanco">
        <section class="contenido">
            <h1 id="tituloInicio">Iniciar Sesión</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="flexDivColumn">
                        {% if mensaje %}
                            <p class="alert alert-danger" role="alert"> {{ mensaje }}</p>
                        {% endif %}
                        <div class="containerInput">
                            <label>Correo</label>
                            <input type="email" name="correo" placeholder=" Ejemplo: tmarina@eafit.edu.co" required>
                        </div>
                        <div class="containerInput">
                            <label>Contraseña</label>
                            <input type="password" name="clave"  required>
                        </div>
                        <p class="olvideContraseña">Si has olvidado tu contraseña haz click <a href="{% url 'password_reset' %}">aquí</a></p>
                        <div class="containerBtnInicio">
                            <a href="{% url 'registro' %}" class="btnCrearCuenta" id="btnColorDiferente">Crear cuenta</a>
                            <button type="submit" class="btnCrearCuenta">Ingresar</button>
                        </div>
                    </div>
                </form>
        </section>
    </div>
</body>
</html>