<!DOCTYPE html>
<html lang="es">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/logoRepon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styleRegistro.css' %}">
    <title>Crear cuenta</title>
</head>
<body>
    <section class="navRegistro">
        <img src="{% static 'img/PAS-logos_white.png' %}" alt="Logo blanco PAS">
        <a href="{% url 'inicioSesion' %}">Iniciar sesión</a>
    </section>
    <div class="fondoBlanco">
        <section class="contenido">
            <h1 id="tituloRegistro">Crear cuenta</h1>
            {% if mensaje %}
            {% if colorMensaje%}
                <p class="alert alert-warning" role="alert"> {{ mensaje }}</p>
            {%else%}
                <p class="alert alert-danger" role="alert"> {{ mensaje }}</p>
            {%endif%}
            {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="flexDiv">
                        <section class="izquierda">
                            <div class="containerInput">
                                <label>Nombre</label>
                                <input type="text" name="nombre" placeholder=" Ejemplo: Tomás Marín" required>
                            </div>
                            <div class="containerInput">
                                <label>Correo</label>
                                <input type="email" name="correo" placeholder=" Ejemplo: tmarina@eafit.edu.co" required>
                            </div>
                            <div class="containerInput">
                                <label>Contraseña</label>
                                <input type="password" name="clave"  required>
                            </div>
                        </section>
                        <div class="lineaSeparadora"></div>
                        <section class="derecha">
                            <div class="containerInput">
                                <label>Confirmar contraseña</label>
                                <input type="password" name="claveRepetida" required>
                            </div>
                            <div class="containerInput">
                                <label>Cargo</label>
                                <input type="text" name="nombreCargo" required>
                            </div>
                            <div class="containerInput">
                                <label>Número de celular</label>
                                <input type="number" min="0" step="1" name="celular" required>
                            </div>
                        </section>
                    </div>
                    <div class="containerBtn">
                        <button type="submit" id="btnCrearCuenta">Crear cuenta</button>
                    </div>
                </form>
        </section>
    </div>
</body>
</html>