{% extends 'autenticacion/plantillaCuadros.html' %}
{% load static %}
{% block title %}Comparación entre proyectos{% endblock %}
{%block head%}
<link rel="stylesheet" href="{% static 'css/comparacionProyectos.css' %}">
<script src="https://kit.fontawesome.com/4efaf993e1.js" crossorigin="anonymous"></script>
{%endblock%}

{% block content %}

<form method = "post">
    {% csrf_token %}
<section class="contenido">
    <div class="cuadroBlanco">
        <div class="containerContenido">
            <h1 id="titulo">Comparación entre proyectos</h1>
            <div class="containerColumnas seleccionarProyecto" >
                <div class="columna" >
                    <div class="input">
                        <select name="miProyecto"class="form-control" required>
                            {% for i in proyectosMiEmpresa %}
                                <option value="{{i.nombreProyecto}}"> {{i.nombreProyecto}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="columna" >
                    <div class="input">
                        <select name="otroProyecto" class="form-control" required>
                            {% for i in proyectosMiEmpresa %}
                                <option value="i.nombreProyecto"> {{i.nombreProyecto}} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="containerColumnas" >
                <div class="columna" >
                    <table class="table table-bordered ">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">Proyecto 1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cantidad de insumos: {{miActualProyecto.cantidadInsumos.cantidad}}</td>
                            </tr>
                            <tr>
                                <td><p>Insumo más desaprovechado:</p> 
                                    {% for i in miActualProyecto.insumoMasDesaprovechado  %}
                                    <p>{{i.referencia}}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Costos:  {{miActualProyecto.costosInsumos.total}}</td>
                            </tr>
                            <tr>
                                <td>Cantidad de traspasos aprobados: </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="columna" >
                    <table class="table table-bordered">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">Proyecto 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cantidad de insumos: </td>
                            </tr>
                            <tr>
                                <td>Insumo más desaprovechado: </td>
                            </tr>
                            <tr>
                                <td>Costos: </td>
                            </tr>
                            <tr>
                                <td>Cantidad de traspasos aprobados: </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="botones">
                <a class="volver" href="{% url 'landingAdmon' %}">Volver</a>
                <button type="submit" class="btn btn-der btn-sm">Consultar</button>
            </div>
        </div>
    </div>
</section>
</form>
{% endblock %}