{% extends 'autenticacion/plantillaCuadros.html' %}
{% load static %}
{% block title %}Crear Coordinador{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/crearCoordinador.css' %}">
<link rel="stylesheet" href="{% static 'css/styleGlobal.css' %}">
{% endblock %}

{% block content %}
<section class="contenido">
    <div class="cuadroBlanco">
        <div class="containerContenido">
            <h1 id="tituloCrearProyecto">Ingrese la información del coordinador</h1>

            <form method="post">
                <div class="containerForm">
                    {% if mensajeError %}
                    <p class="alert alert-danger text-center" role="alert"> {{ mensajeError }}</p>
                    {% endif %}
                    {% if mensajeExito %}
                    <p class="alert alert-success text-center" role="alert"> {{ mensajeExito }}</p>
                    {% endif %}
                    {% csrf_token %}
                    <div class="input">
                        <label for="basic-url" class="form-label">Nombre y apellido (Obligatorio)</label>
                        <input type="text" class="form-control" name="nombre" placeholder="Ejemplo: Mateo Muñoz"
                            required>
                    </div>
                    <div class="input">
                        <label for="basic-url" class="form-label">Correo (Obligatorio)</label>
                        <input type="email" class="form-control" name="correo" placeholder="Ejemplo: mateo@eafit.edu.co"
                            required>
                    </div>
                    <div class="input">
                        <label for="basic-url" class="form-label">Contraseña (Obligatorio)</label>
                        <input type="text" class="form-control" name="clave" placeholder="Ejemplo: M1234*" required>
                    </div>
                    <div class="input">
                        <label class="form-label">Proyecto a asignar (Obligatorio)</label>
                        <select name="nombreProyecto" id="" class="form-control" required>
                            {% for proyecto in proyectos %}
                            <option value="{{proyecto.nombreProyecto}}">{{proyecto.nombreProyecto}}</option>
                            {% endfor %}


                        </select>
                    </div>
                </div>
                <div class="botones">
                    <a class="volverCrearProyecto" href="{% url 'landingAdmon' %}">Volver</a>
                    <button type="submit" class="btn btn-der btn-sm">Crear Coordninador</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}