{% extends 'autenticacion/plantillaCuadros.html' %}
{% load static %}
{% block title %}Crear Coordinador{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{% static 'css/crearCoordinador.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleGlobal.css' %}">
{% endblock %}

{% block content %}
    <section class="contenido">
        <div class="cuadroBlanco">
                <div class="containerContenido">
                    <h1 id="tituloCrearProyecto">Ingrese la información del coordinador</h1>
                    <form method="post">
                        <div class="containerForm">
                            <section class="izquierda">
                                {% csrf_token %}
                                <div class="input">
                                    <label for="basic-url" class="form-label">Nombre y apellido (Obligatorio)</label>
                                    <input type="text" class="form-control" placeholder="Ejemplo: Mateo Muñoz">
                                </div>
                                <div class="input">
                                    <label for="basic-url" class="form-label">Correo (Obligatorio)</label>
                                    <input type="email" class="form-control" placeholder="Ejemplo: mateo@eafit.edu.co">
                                </div>
                                <div class="input">
                                    <label for="basic-url" class="form-label">Contraseña (Obligatorio)</label>
                                    <input type="text" class="form-control" placeholder="Ejemplo: M1234*">
                                </div>
                            </section>
                            <section class="derecha">
                                <div class="input">
                                    <label class="form-label">Empresa asignada (Obligatorio)</label>
                                    <input list="listaEmpresa" class="form-control" name="empresaCoordinador">
                                    <datalist id="listaEmpresa">
                                        <option value="Homecenter"></option>
                                        <option value="Ferreteria milagros"></option>
                                        <option value="Ferreteria el dorado"></option>
                                    </datalist>
                                </div>
                                <div class="input">
                                    <label class="form-label">Proyecto asignado (Obligatorio)</label>
                                    <input list="listaProyecto" class="form-control" name="proyectoCoordinador">
                                    <datalist id="listaProyecto">
                                        <option value="Edificio el Zocalo"></option>
                                        <option value="Parque arias"></option>
                                        <option value="Lomas turbas"></option>
                                    </datalist>
                                </div>
                            </section>
                        </div>    
                        <div class="botones">
                            <a class="volverCrearProyecto" href="#">Volver</a>
                            <button type="button" class="btn btn-der btn-sm">Crear Proyecto</button>
                        </div>
                    </form>
                </div>
        </div>
    </section>
{% endblock %}
