{% extends 'autenticacion/plantillaCuadros.html' %}
{% load static %}

{% block title %} Crear Inventario {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/crearEmpresa.css' %}">
{% endblock %}

{% block content %}


<section class="contenido">
    <div class="cuadroBlanco">
            <div class="containerContenido">
                <form method="post">
                    <div class="containerForm">
                            {% csrf_token %}
                            <div  id="formulario1" style="display: block;">
                                <h1 id="tituloCrearEmpresa">Ingrese información de la empresa</h1>
                                <div class="row" >
                                    <div class="col">
                                        <div class="input">
                                            <label for="basic-url" class="form-label">NIT (Obligatorio)</label>
                                            <input type="number" name="nit" class="form-control" placeholder="Ejemplo: 901567814">
                                        </div>
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Nombre de la empresa (Obligatorio)</label>
                                            <input type="text" name="nombre" class="form-control" placeholder="Ejemplo: Homecenter">
                                        </div>
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Dirección (Obligatorio)</label>
                                            <input type="text" name="direccion" class="form-control" placeholder="Ejemplo: Calle 45b sur #25 - 15">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Correo de contacto (Obligatorio)</label>
                                            <input type="email" name="valorU" class="form-control" placeholder="Ejemplo: repon@gmail.com">
                                        </div>
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Teléfono (Obligatorio)</label>
                                            <input type="number" name="telefono" class="form-control" placeholder="Ejemplo: 3105316789">
                                        </div>
                                        <div class="confirmacion">
                                            <label class="advertencia-label">*Recuerde verificar la información
                                                antes de crear la empresa</label>
                                            <div class="botones">
                                                <a class="volverCrearProyecto" href="/">Volver</a>
                                                <button type="button" class="btn btn-der btn-sm" id="btn-crearEmpresa">Crear Empresa</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>    

                </form>
            </div>
    </div>
</section>

{% endblock %}