{% extends 'autenticacion/plantillaCuadros.html' %}
{% load static %}

{% block title %} Crear Proyecto {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/crearProyecto.css' %}">
{% endblock %}

{% block content %}


<section class="contenido">
    <div class="cuadroBlanco">
            <div class="containerContenido">
                <form method="post">
                    <div class="containerForm">
                            {% csrf_token %}
                            <div  id="formulario1" style="display: block;">
                                <h1 id="tituloCrearEmpresa">Ingrese la información del proyecto</h1>
                                <div class="row" >
                                    <div class="col">
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Nombre del proyecto (Obligatorio)</label>
                                            <input type="text" class="form-control" name="nombreProyecto" placeholder="Ejemplo: Edificio el zocalo" required>
                                        </div>
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Estado del proyecto (Obligatorio)</label>
                                            <select name="estadoProyecto" id=""  class="form-control" required>
                                                <option value="Por empezar">Por empezar</option>
                                                <option value="En progreso">En progreso</option>
                                                <option value="Terminado">Terminado</option>
                                            </select>
                                        </div>
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Dirección (Opcional)</label>
                                            <input type="text" name="direccion" class="form-control" placeholder="Ejemplo: Calle 45b sur #25 - 15">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Departamento (Obligatorio)</label>
                                            <input type="text" name="departamento" class="form-control" placeholder="Ejemplo: Antioquia" required>
                                        </div>
                                        <div class="input">
                                            <label for="basic-url" class="form-label">Ciudad (Obligatorio)</label>
                                            <input type="text" name="ciudad" class="form-control" placeholder="Ejemplo: Medellín" required>
                                        </div>
                                        <div class="confirmacion">
                                            <label class="advertencia-label">*Recuerde verificar la información
                                                antes de crear el proyecto</label>
                                            <div class="botones">
                                                <a class="volverCrearProyecto" href="{% url 'landingAdmon' %}">Volver</a>
                                                <button type="submit" class="btn btn-der btn-sm" id="btn-crearEmpresa">Crear proyecto</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>    

                </form>
            </div>
    </div>
</section>

{% endblock %}