{% extends 'autenticacion/plantillaFondoCompleto.html' %}
{% load static %}
{% block title %}Ingreso Categoria{% endblock %}
{%block head%}
<link rel="stylesheet" href="{% static 'css/ingresoCategoria.css' %}">
<script src="https://kit.fontawesome.com/4efaf993e1.js" crossorigin="anonymous"></script>
{%endblock%}

{% block content %}
<section class="containerTituloLanding">
    <h1 class="tituloLanding">Categorización</h1>
</section>
<div class="containerBtnVolver">
    <a href="{% url 'landingAdmon' %}" class="btnVolver">Volver</a>
</div>
{% for insumo in insumosUnicos %}
    <h2>{{ insumo.proyectoAsociado.empresa.nombreEmpresa }}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="referencia" value="{{ insumo.referencia }}">
        <p>{{ insumo.referencia }}</p>
        <input type="text" placeholder="Ingrese la categoría" name="categoria">
        <button type="submit">Asignar categoría</button>
    </form>
{% empty %}
    <p>No hay insumos registrados.</p>
{% endfor %}
{% endblock %}