{% extends 'autenticacion/plantillaFondoCompleto.html' %}
{% load static %}
{% block title %}Ver empresa{% endblock %}
{%block head%}
<link rel="stylesheet" href="{% static 'css/verEmpresa.css' %}">
<script src="https://kit.fontawesome.com/4efaf993e1.js" crossorigin="anonymous"></script>
{%endblock%}
{% block content %}
<section class="contenido">
    <div class="cuadroBlanco">
        <div class="containerContenido">
            <h1 id="tituloVerEmpresa">Información de la empresa</h1>
            <div class="containerColumnas">
                <div class="columna">
                    <p><strong>NIT: </strong>{{empresa.nit}}</p>
                    <p><strong>Nombre de la empresa: </strong>{{empresa.nombreEmpresa}}</p>
                    {% if empresa.direccion %}
                    <p><strong>Dirección: </strong>{{empresa.direccion}}</p>
                    {% else %}
                    <p><strong>Dirección: </strong>NA</p>
                    {% endif %}
                    <p><strong>Departamento: </strong>{{empresa.departamento}}</p>
                    <p><strong>Ciudad: </strong>{{empresa.ciudad}}</p>
                </div>
            </div>
        </div>
    </div>
    <section class="containerCoordinadores">
        <div class="cuadroBlancoVerCoordinadores">
            <div class="containerContenidoCoordinadores">
                <h1 id="tituloVerEmpresaCoordinadores">Información proyectos</h1>
                <div class="containerColumnas">
                    <div class="columna">
                        {% for proyecto in proyectos %}
                        {% if proyecto.coordinadorVinculado %}
                        <p><strong>* Nombre coordinador:
                            </strong>{{proyecto.coordinadorVinculado.usuario.first_name}}<strong> - Nombre proyecto
                                asignado: </strong>{{proyecto.nombreProyecto}}<strong> - Ubicación proyecto:
                            </strong>{{proyecto.departamento}}, {{proyecto.ciudad}}</p>
                        {% else %}
                        <p><strong>* Nombre coordinador: </strong>Sin asignar<strong> - Nombre proyecto asignado:
                            </strong>{{proyecto.nombreProyecto}}<strong> - Ubicación proyecto:
                            </strong>{{proyecto.departamento}}, {{proyecto.ciudad}}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="containerBtnVolver mb-3">
        <a href="{% url 'landingAdmon' %}" class="btnVolver">Volver</a>
    </div>
</section>
{% endblock %}