{% extends 'autenticacion/plantillaFondoCompleto.html' %}
{% load static %}

{% block title %} Ver item {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/crearInventario.css' %}">
<link rel="stylesheet" href="{% static 'css/verInventario.css' %}">
{% endblock %}

{% block content %}

<h1 id="tituloItem">{{item.referencia}}</h1>
<section class="contenido">
    <div class="cuadroBlanco">
        <form method="post">
            <div class="containerForm">
                {% csrf_token %}
                <div>
                    <div class="row">
                        <div class="col">
                            <div class="input">
                                <label for="basic-url" class="form-label">Codigo Insumo</label>
                                <p class="form-control">{{ item.codigo }}</p>
                                <input type="text" name="codigo" value="{{ item.codigo }}" hidden>
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Referencia</label>
                                <p class="form-control">{{ item.referencia }}</p>
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Unidad Base</label>
                                <input type="text" name="unidadBase" class="form-control"
                                    value="{{ item.unidad }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Cantidad</label>
                                <input type="number" name="cantidad" class="form-control" value="{{ item.cantidad }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Marca</label>
                                <input type="text" name="marca" class="form-control" value="{{ item.nombreMarca }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Tipo de insumo</label>
                                <input type="text" name="tipoInsumo" class="form-control"
                                    value="{{ item.tipoInsumo }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Proyecto que genero el insumo</label>
                                <p class="form-control">{{ item.proyectoAsociado.nombreProyecto }}</p>
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Lugar donde se almacena</label>
                                <input type="text" name="lugarAlmacenado" class="form-control"
                                    value="{{ item.ubicacion }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Para la venta</label>
                                <select class="form-control" name="paraVender">
                                    {% if item.paraVender %}
                                    <option value="Si" selected>Si</option>
                                    <option value="No">No</option>
                                    {% else %}
                                    <option value="Si">Si</option>
                                    <option value="No" selected>No</option>
                                    {% endif %}
                                  </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input">
                                <label for="basic-url" class="form-label">Valor Unitario</label>
                                <input type="number" name="valorU" class="form-control" value="{{ item.valorUnitario }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Iva</label>
                                <input type="text" name="iva" class="form-control" value="{{item.impuesto}}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Valor Total</label>
                                <p class="form-control">{{ valorTotal }}</p>
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Fecha Ingreso</label>
                                <p name="fechaCaducidad" class="form-control">{{ item.fechaIngreso }}</p>
                            </div>
                            {% if valor.fechaCaducidad %}
                            <div class="input">
                                <label for="basic-url" class="form-label">Fecha Caducidad</label>
                                <input type="text" name="fechaCaducidad" class="form-control"
                                    value="{{ item.fechaCaducidad|date:'Y-m-d\TH:i' }}">
                            </div>
                            {% else %}
                            <div class="input">
                                <label for="basic-url" class="form-label">Fecha Caducidad (sin asignar aún)</label>
                                <input type="datetime-local" name="fechaCaducidad" class="form-control"
                                    value="">
                            </div>
                            {% endif %}
                            <div class="input">
                                <label for="basic-url" class="form-label">Fecha Compra</label>
                                <input type="datetime-local" name="fechaCompra" class="form-control"
                                    value="{{ item.fechaCompra|date:'Y-m-d\TH:i' }}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Categoría</label>
                                <input type="text" name="categoria" class="form-control" value="{{item.categoria}}">
                            </div>
                            <div class="input">
                                <label for="basic-url" class="form-label">Observaciones</label>
                                <input type="text" name="observaciones" class="form-control"
                                    value="{{ item.observaciones }}">
                            </div>
                            
                            <div class="confirmacion">
                                <div class="botones">
                                    <a class="volver" href="{% url 'listaInsumosAdmin' %}">Volver</a>
                                    <button id="btnActualizar" class='btn btn-der btn-sm' type="submit">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}