{% extends 'autenticacion/plantillaFondoCompleto.html' %}
{% load static %}
{% block title %}Traspaso{% endblock %}
{%block head%}
<link rel="stylesheet" href="{% static 'css/inventario.css' %}">
<script src="https://kit.fontawesome.com/4efaf993e1.js" crossorigin="anonymous"></script>
{%endblock%}

{% block content %}
<div class="containerBtnVolver">
    <h1 class="tituloLandingInventario">Solicitudes de traspaso</h1>
</div>
<div class="containerBtnVolver">
    <a href="{% url 'landingAdmon' %}" class="btnVolver">Volver</a>
</div>
<section class="containerInventario">
    <table>
        <thead>
            <tr>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Proyecto origen</th>
                <th>Proyecto destino</th>
                <th>Coordinador</th>
                <th>Aceptar</th>
                <th>Rechazar</th>
            </tr>
        </thead>
        <tbody> 
            {% for solicitud in solicitudes %}
                {% if solicitud.estado == 'Pendiente' %}
                <tr>
                    <td>{{solicitud.insumo.referencia}}</td>
                    <td>{{solicitud.cantidad}}</td>
                    <td>{{solicitud.proyectoOrigen.nombreProyecto}}</td>
                    <td>{{solicitud.proyectoDestino.nombreProyecto}}</td>
                    <td>{{solicitud.coordinadorSolicitante.usuario.first_name}}</td>

                    <td>
                        <a href="{% url "aceptarTraspaso" solicitud.id %}" class="containerCirculo" style="display: flex; justify-content:center; ">
                        <div class="circulo" style="background-color:green;width: 45px;height: 45px;">
                            <i class="fas fa-chevron-right"  id="flecha"></i>
                        </div>
                        </a>
                    </td>
                    
                    <td>
                        <a href="{% url "rechazarTraspaso" solicitud.id %}" class="containerCirculo" style="display: flex; justify-content:center; ">
                        <div class="circulo" style="background-color:red;width: 45px;height: 45px;">
                            <i class="fas fa-chevron-right" id="flecha"></i>
                        </div>
                        </a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}