.tituloLanding{
    margin-top: 50px;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
}
.containerTituloLanding{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBtnVolver{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btnVolver{
    color: white;
    font-size: 18px;
    background-color: #ED1A28;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px 15px;
    margin-top: 10px;
}
.containerIngresoCategoria{
    width: fit-content;
    height: fit-content;
    text-align: center;
    color: #ffffff;
}
.containerGeneral{
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
#btnEnviar{
    border-color: transparent;
    background-color: #ffffff;
    border-radius: 10px;
}